body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

link[rel="icon"] {
    border-radius: 50%;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}

.toast-container {
    z-index: 9999;
    top: 5.5%;
    right: 1px;
    transform: translate(-5.5%);
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toast {
    background-color: #f8f9fa;
    border: 1px solid #dcdcdc;
    padding: 15px;
    border-radius: 5px;
}

.toast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 5px;
}

.toast-body {
    margin-bottom: 10px;
}

.title {
    background-color: #F7F7F7;
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin-top: 5%;
}

.text {
    font-size: 18px;
    line-height: 1.5;
    color: black;
    margin: 4% 0;
}

header {
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 73px;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 90%;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    margin-top: 2.8%;
    margin-bottom: 2.8%;
}

.about {
    background-color: #F7F7F7;
    height: 180px;
    margin-bottom: 2.8%;
}

.article {
    float: left;
    width: 33.33%;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar-scroll {
    background-color: black;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}

.navbar-brand {
    font-size: unset;
    height: 3.5rem;
}

button.btn {
    color: white;
}

button.btn:hover {
    background-color: white;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    width: 100%;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
}