body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

link[rel="icon"] {
    border-radius: 50%;
    overflow: hidden;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    background-color: #F7F7F7;
    margin-top: 5%;
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.title h1{
    margin: 1%;
}

.text {
    font-size: 18px;
    line-height: 1.5;
    color: black;
}

header {
    background-color: #FFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.banner {
    background-size: cover;
    background-position: center;
    height: 800px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.info {
    background-color: #F7F7F7;
    padding: 50px 0;
}

.article {
    float: left;
    width: 33.33%;
    padding: 0 20px;
    box-sizing: border-box;
}

.article img {
    max-width: 100%;
}

.navbar-scroll {
    background-color: black;
}

.navbar-scrolled .nav-link,
.navbar-scrolled .navbar-toggler-icon,
.navbar-scroll .navbar-brand {
    color: #262626;
}

.navbar-brand {
    font-size: unset;
    height: 3.5rem;
}

button.btn {
    color: white;
}

button.btn:hover {
    background-color: white;
}

footer{
    margin-top: 10%;
}